.book-item {
  $fieldMargin: 1rem;
  $textColor: #978f8f;
  padding: 1rem 0.7rem 1rem 0.7rem;
  background-color: #f1f1f1;
  display: block;
  &__inner {
    height: 490px;
    width: 420px;
  }
  &__pic {
    padding: 0 14%;
    height: 75%;
    img {
      width: 100%;
      height: 100%;
      box-shadow: 5px 6px 20px -1px;
    }
  }
  &__info {
    margin-top: 2rem;
    height: 25%;
  }
  &__category {
    margin-top: $fieldMargin;
    color: $textColor;
    text-decoration: underline;
  }
  &__title {
    margin-top: $fieldMargin;
    font-weight: bold;
  }
  &__author {
    margin-top: $fieldMargin;
    color: $textColor;
  }
}
