@import '../../utils/utils.scss';
.search-field {
  $height: 20px;

  &__input-container {
    display: inline;
    position: relative;
    input {
      @include headerInput;
      width: 400px;
      &:focus {
        border: 1px inset black;
      }
    }
  }
  &__search-icon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0;
    width: 25px;
    height: 100%;

    svg {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      $lengthSVG: 15px;
      height: $lengthSVG;
      width: $lengthSVG;
    }
  }
}
