@use 'sass:color';
@import '../../utils/utils.scss';
$mt: 1.5rem;
.header {
  background: url('./books-pic.jpg') center / cover;
  height: 40vh;
  display: flex;

  &__content {
    display: inline-block;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 5rem;
  }
  &__title {
    color: white;
    font-size: 2.5rem;
  }
  &__search {
    margin-top: $mt;
  }
  &__options {
    display: flex;
    justify-content: space-between;
    margin-top: $mt;
  }
  &__option {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &__option-value {
    @include headerInput;
    $color: white;
    padding: 4px 5% 4px 3px;
    background-color: $color;
    width: 10rem;
    &:focus + .header__option-name {
      border-bottom: 1px solid $color;
      padding-bottom: 1px;
      color: color.adjust($color: $color, $blackness: 20%);
    }
  }

  &__option-name {
    margin-right: 1rem;
    color: white;
    font-weight: 600;
  }
}
