.search-result {
  &__title {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1.5rem auto;
  }
  &__item {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: 23%;
  }
  &__load-more {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  &__load-button {
    width: 7rem;
    height: 3.5rem;
    background-color: pink;
    border-radius: 20px;
    box-shadow: 0 0 15px 0;
  }
}
